page-home {
    .ion-card-header {
        background: #f9f9f9;
    }
    .ion-card-content {
        background-color: #f9f9f9;
    }
    .flex-right {
        float: right;
        justify-content: flex-end;
    }
}
