<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Inventory App
    </ion-title>

    <ion-buttons end><!-- -->
      <button navPush="AddInventoryListPage" ion-button><!-- -->  
        <ion-icon name="add"></ion-icon><!-- -->
      </button><!-- -->
    </ion-buttons><!-- -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full *ngIf="!userData" (click)="loginwithFB()">Login</button>
  <ion-card *ngIf="userData">
    <ion-card-header> {{ userData.username }} </ion-card-header>
    <img [src]="userData.picture">
    <ion-card-content>
      <p>Email: {{ userData.email }}</p>
      <p>First_Name: {{ userData.first_name }}</p>
    </ion-card-content>
  </ion-card>
  <!-- <ion-list>
    <ion-list-header>Inventorys</ion-list-header>
    <ion-item *ngFor="let item of inventroyList$ | async"
    detail-push navPush="EditInventoryItemPage" [navParams]="{item: item}">
      {{item.name}}
    </ion-item>
  </ion-list> -->
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col *ngFor="let item of inventroyList$ | async" detail-push navPush="EditInventoryItemPage" [navParams]="{item: item}">
        <ion-card>
          <ion-card-header class="ion-card-header">
            <!-- <button ion-button icon-left item-right small>
              <ion-icon name="heart"></ion-icon>
              <div>12</div>
            </button> -->
            <ion-icon name="heart" class="flex-right"> 12</ion-icon>
            <h3>{{ item.name }}</h3>
          </ion-card-header>
          <ion-card-content class="ion-card-content">
            <p>수량: {{ item.quantity }}</p>
            <p>가격: {{ item.price }}</p>
            <p>
              <button ion-button icon-left small end>
                <ion-icon name="time"></ion-icon>
                <div>2 주전</div>
              </button>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
