page-view-inventory-item {
    .back-button-text .back-button-text-ios{
        display: none!important;
    }    
    ion-item .item-inner .input-wrapper ion-input{
        border: 1px solid #000000;
    }

    [data-name="wrapper"] {
        @include cardShadow();
        border-radius: 6px;
    }

    ion-row.row {
        background: #fff;
        border-color: $cardBorderGreen;
        border-style: solid;
        border-width: 0;

        button.button-md, button.button-ios {
            // 편집 버튼
            background: #fff;
            color: $invGreen;
            box-shadow: none;
            border-radius: 50%;
            border: 1px solid $invGreen;
            width: 32px;
            height: 32px;
            margin-bottom: 30px;
        }
    }
    ion-row.row:first-child {
        // 일반 정보 섹션
        border-width: 1px 1px 0 1px;
        border-radius: 6px 6px 0 0;
        padding: 20px 20px 0 20px;

        >ion-col:first-child {
            font-size: 2rem;
            font-weight: bold;
            color: $invGreen;
        }

        [data-name*="item-"] {
            display: block;
            margin-bottom: 20px;
            &:before {
                content: "";
                color: $invGreen;
                font-weight: bold;
                display: block;
                margin-bottom: 10px;
            }
            &:last-child {
                margin-bottom: 12px;
            }
        }

        [data-name="item-star"] {
            &:before {
                content: "★";
                display: inline-block;
                color: $starYellow;
            }
            position: absolute;
            top: 9px;
            font-weight: bold;
            font-size: 2rem;
            color: $starYellow;
            right: 0;
        }

        [data-name="item-desc"] {
            &:before {
                content: "기록 사항";
            }
        }

        [data-name="item-quantity"] {
            &:before {
                content: "수량";
            }
        }

        [data-name="item-price"] {
            &:before {
                content: "가격";
            }
        }
    }

    ion-row.row:last-child {
        //타임라인 섹션
        border-width: 0 1px 1px 1px;
        border-radius: 0 0 6px 6px;
        
        padding: 0 20px 20px 20px;
        
        &:before {
            content: "리뷰 타임라인";
            color: $invGreen;
            font-weight: bold;
            display: block;
            margin-bottom: 6px;
            width: 100%;
            padding: 5px;
        }

        ion-col {
            flex: 0 0 40%;
            
            [data-name="item-date"] {
                float: left; 
                color: $white;
                background-color: $invGreen;
                padding: 6px 10px;
                border-radius: 6px;
                font-weight: bold;
            }

            [data-name="item-history"] {
                float: left;
                clear: both;
                font-size: 1.3rem; 
                margin-top: 6px;
            }

            &:nth-child(odd):before {
                content: "";
                display: block;
                top: 18px;
                width: 50%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                height: 1px;
                /* background: #169c78; */
                border: 1px dashed #169C78;
                position: absolute;
                left: 80%;
                /* margin-left: 50%; */
                /* -webkit-transform: translate(-150%, 0); */
                /* transform: translate(-150%, 0); */
            }

            &:after {
                content: "";
                display: block;
                top: 8px;
                width: 21px;
                box-sizing: border-box;
                height: 21px;
                border-radius: 50%;
                background: $white;
                border: 3px solid $invGreen;
                position: absolute;
                left: 150%;
                /* margin-left: 50%; */
                transform: translate(-150%, 0);
            }
        }
    }


}

